body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.LoadingCurtain{
  background-color:#fff;
  opacity:0.5;
  display:none;
  height:100%;
  width:100%;
  position: fixed;
  left:0px;
  top:0px;
  z-index:2;
}
.loadingImage{
  background-image: url("../images/loading.gif");
  margin:auto;
  height:300px;
  width:300px;
  margin-top:calc(25% - 150px);
  margin-top:-webkit-calc(25% - 150px);
}

#notification{
  display:none;
}